<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <p class="welcome-msg">Welcome to Donald store message or remove it!</p>
            </div>
            <div class="header-right">
                <div class="dropdown">
                    <a href="#currency">USD</a>
                    <ul class="dropdown-box">
                        <li><a href="#USD">USD</a></li>
                        <li><a href="#EUR">EUR</a></li>
                    </ul>
                </div>
                <!-- End of DropDown Menu -->
                <div class="dropdown">
                    <a href="#language">
                        <img src="~/Content/images/flags/en.png" alt="USA Flag"
                             class="dropdown-image" />ENG
                    </a>
                    <ul class="dropdown-box">
                        <li>
                            <a href="#USD">
                                <img src="~/Content/images/flags/en.png" alt="USA Flag" class="dropdown-image" />ENG
                            </a>
                        </li>
                        <li>
                            <a href="#EUR">
                                <img src="~/Content/images/flags/fr.png" alt="France Flag" class="dropdown-image" />FRH
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End of DropDown Menu -->
                <div class="dropdown dropdown-expanded d-lg-show">
                    <a href="#dropdown">Links</a>
                    <ul class="dropdown-box">
                        <li><a href="about-us.html">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                </div>
                <!-- End of DropDownExpanded Menu -->
            </div>
        </div>
    </div>
    <!-- End of HeaderTop -->
    <div class="header-middle sticky-header fix-top sticky-content has-center">
        <div class="container">
            <div class="header-left">
                <a href="#" class="mobile-menu-toggle">
                    <i class="d-icon-bars2"></i>
                </a>
                <a href="demo3.html" class="logo d-none d-lg-block">
                    <img src="~/Content/images/demos/demo3/logo.png" alt="logo" width="163" height="39" />
                </a>
            </div>
            <div class="header-center">
                <a href="demo3.html" class="logo d-lg-none">
                    <img src="~/Content/images/demos/demo3/logo.png" alt="logo" width="163" height="39" />
                </a>
                <!-- End of Logo -->
                <div class="header-search hs-expanded">
                    <form action="#" method="get" class="input-wrapper">
                        <div class="select-box">
                            <select id="category" name="category">
                                <option value="">All Categories</option>
                                <option value="4">Fashion</option>
                                <option value="12">- Women</option>
                                <option value="13">- Men</option>
                                <option value="66">- Jewellery</option>
                                <option value="67">- Kids Fashion</option>
                                <option value="5">Electronics</option>
                                <option value="21">- Smart TVs</option>
                                <option value="22">- Cameras</option>
                                <option value="63">- Games</option>
                                <option value="7">Home &amp; Garden</option>
                                <option value="11">Motors</option>
                                <option value="31">- Cars and Trucks</option>
                                <option value="32">- Motorcycles &amp; Powersports</option>
                                <option value="33">- Parts &amp; Accessories</option>
                                <option value="34">- Boats</option>
                                <option value="57">- Auto Tools &amp; Supplies</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" name="search" id="search"
                               placeholder="Search your keyword..." required="">
                        <button class="btn btn-sm btn-search" type="submit">
                            <i class="d-icon-search"></i>
                        </button>
                    </form>
                </div>
                <!-- End of Header Search -->

                <nav class="main-nav">
                    <ul class="menu">
                        <li class="active">
                            <a href="demo3.html">Home</a>
                        </li>
                        <li>
                            <a href="demo3-shop.html">Categories</a>
                            <div class="megamenu">
                                <div class="row">
                                    <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                        <h4 class="menu-title">Variations 1</h4>
                                        <ul>
                                            <li><a href="shop-banner-sidebar.html">Banner With Sidebar</a></li>
                                            <li><a href="shop-boxed-banner.html">Boxed Banner</a></li>
                                            <li><a href="shop-infinite-scroll.html">Infinite Ajaxscroll</a></li>
                                            <li>
                                                <a href="shop-horizontal-filter.html">Horizontal Filter</a>
                                            </li>
                                            <li>
                                                <a href="shop-navigation-filter.html">
                                                    Navigation Filter<span class="tip tip-hot">Hot</span>
                                                </a>
                                            </li>

                                            <li><a href="shop-off-canvas.html">Off-Canvas Filter</a></li>
                                            <li><a href="shop-right-sidebar.html">Right Toggle Sidebar</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                        <h4 class="menu-title">Variations 2</h4>
                                        <ul>

                                            <li>
                                                <a href="shop-grid-3cols.html">
                                                    3 Columns Mode<span class="tip tip-new">New</span>
                                                </a>
                                            </li>
                                            <li><a href="shop-grid-4cols.html">4 Columns Mode</a></li>
                                            <li><a href="shop-grid-5cols.html">5 Columns Mode</a></li>
                                            <li><a href="shop-grid-6cols.html">6 Columns Mode</a></li>
                                            <li><a href="shop-grid-7cols.html">7 Columns Mode</a></li>
                                            <li><a href="shop-grid-8cols.html">8 Columns Mode</a></li>
                                            <li><a href="shop-list.html">List Mode</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 menu-banner menu-banner1 banner banner-fixed">
                                        <figure>
                                            <img src="~/Content/images/menu/banner-1.jpg" alt="Menu banner" width="221"
                                                 height="330" />
                                        </figure>
                                        <div class="banner-content y-50">
                                            <h4 class="banner-subtitle font-weight-bold text-primary ls-m">
                                                Sale.
                                            </h4>
                                            <h3 class="banner-title font-weight-bold">
                                                <span class="text-uppercase">Up to</span>70% Off
                                            </h3>
                                            <a href="#" class="btn btn-link btn-underline">
                                                shop now<i class="d-icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End of Megamenu -->
                                </div>
                            </div>
                        </li>
                        <!-- End of Dropdown -->
                        <li>
                            <a href="demo3-product.html">Products</a>
                            <div class="megamenu">
                                <div class="row">
                                    <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                        <h4 class="menu-title">Product Pages</h4>
                                        <ul>
                                            <li><a href="product-simple.html">Simple Product</a></li>
                                            <li><a href="product.html">Variable Product</a></li>
                                            <li><a href="product-sale.html">Sale Product</a></li>
                                            <li><a href="product-featured.html">Featured &amp; On Sale</a></li>

                                            <li><a href="product-left-sidebar.html">With Left Sidebar</a></li>
                                            <li><a href="product-right-sidebar.html">With Right Sidebar</a></li>
                                            <li>
                                                <a href="product-sticky-cart.html">
                                                    Add Cart Sticky<span class="tip tip-hot">Hot</span>
                                                </a>
                                            </li>
                                            <li><a href="product-tabinside.html">Tab Inside</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                        <h4 class="menu-title">Product Layouts</h4>
                                        <ul>
                                            <li>
                                                <a href="product-grid.html">
                                                    Grid Images<span class="tip tip-new">New</span>
                                                </a>
                                            </li>
                                            <li><a href="product-masonry.html">Masonry</a></li>
                                            <li><a href="product-gallery.html">Gallery Type</a></li>
                                            <li><a href="product-full.html">Full Width Layout</a></li>
                                            <li><a href="product-sticky.html">Sticky Info</a></li>
                                            <li>
                                                <a href="product-sticky-both.html">Left &amp; Right Sticky</a>
                                            </li>
                                            <li><a href="product-horizontal.html">Horizontal Thumb</a></li>

                                            <li><a href="#">Build Your Own</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 menu-banner menu-banner2 banner banner-fixed">
                                        <figure>
                                            <img src="images/menu/banner-2.jpg" alt="Menu banner" width="221"
                                                 height="330" />
                                        </figure>
                                        <div class="banner-content x-50 text-center">
                                            <h3 class="banner-title text-white text-uppercase">Sunglasses</h3>
                                            <h4 class="banner-subtitle font-weight-bold text-white mb-0">
                                                $23.00
                                                -
                                                $120.00
                                            </h4>
                                        </div>
                                    </div>
                                    <!-- End of MegaMenu -->
                                </div>
                            </div>
                        </li>
                        <!-- End of Dropdown -->
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li><a href="about-us.html">About</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li><a href="account.html">Login</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="error-404.html">Error 404</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li>
                        <!-- End of Dropdown -->

                        <li>
                            <a href="#">Blog</a>
                            <ul>
                                <li><a href="blog-classic.html">Classic</a></li>
                                <li><a href="blog-listing.html">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        <li><a href="blog-grid-2col.html">Grid 2 columns</a></li>
                                        <li><a href="blog-grid-3col.html">Grid 3 columns</a></li>
                                        <li><a href="blog-grid-4col.html">Grid 4 columns</a></li>
                                        <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="blog-masonry-2col.html">Masonry 2 columns</a></li>
                                        <li><a href="blog-masonry-3col.html">Masonry 3 columns</a></li>
                                        <li><a href="blog-masonry-4col.html">Masonry 4 columns</a></li>
                                        <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mask</a>
                                    <ul>
                                        <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                        <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="post-single.html">Single Post</a>
                                </li>
                            </ul>
                        </li>
                        <!-- End of Dropdown -->
                        <li>
                            <a href="#">Elements</a>
                            <ul>
                                <li><a href="element-products.html">Products</a></li>
                                <li><a href="element-typography.html">Typography</a></li>
                                <li><a href="element-titles.html">Titles</a></li>
                                <li><a href="element-categories.html">Product Category</a></li>
                                <li><a href="element-buttons.html">Buttons</a></li>
                                <li><a href="element-accordions.html">Accordions</a></li>
                                <li><a href="element-alerts.html">Alert &amp; Notification</a></li>
                                <li><a href="element-tabs.html">Tabs</a></li>
                                <li><a href="element-testimonials.html">Testimonials</a></li>
                                <li><a href="element-blog-posts.html">Blog Posts</a></li>
                                <li><a href="element-instagrams.html">Instagrams</a></li>
                                <li><a href="element-cta.html">Call to Action</a></li>
                                <li><a href="element-icon-boxes.html">Icon Boxes</a></li>
                                <li><a href="element-icons.html">Icons</a></li>
                            </ul>
                        </li>
                        <!-- End of Dropdown -->
                        <li class="d-xl-show">
                            <a href="#">About Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-right">
                <a class="login" href="ajax/login.html">
                    <i class="d-icon-user"></i>
                    <span>Login</span>
                </a>
                <!-- End of Login -->
                <span class="divider"></span>
                <div class="dropdown cart-dropdown">
                    <a href="#" class="cart-toggle">
                        <span class="cart-label">
                            <span class="cart-name">My Cart</span>
                            <span class="cart-price">$42.00</span>
                        </span>
                        <i class="minicart-icon">
                            <span class="cart-count">2</span>
                        </i>
                    </a>
                    <!-- End of Cart Toggle -->
                    <div class="dropdown-box">
                        <div class="product product-cart-header">
                            <span class="product-cart-counts">2 items</span>
                            <span><a href="cart.html">View cart</a></span>
                        </div>
                        <div class="products scrollable">
                            <div class="product product-cart">
                                <div class="product-detail">
                                    <a href="product.html" class="product-name">Solid Pattern In Fashion Summer Dress</a>
                                    <div class="price-box">
                                        <span class="product-quantity">1</span>
                                        <span class="product-price">$129.00</span>
                                    </div>
                                </div>
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="~/Content/images/cart/product-1.jpg" alt="product" width="90"
                                             height="90" />
                                    </a>
                                    <button class="btn btn-link btn-close">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </figure>
                            </div>
                            <!-- End of Cart Product -->
                            <div class="product product-cart">
                                <div class="product-detail">
                                    <a href="product.html" class="product-name">Mackintosh Poket Backpack</a>
                                    <div class="price-box">
                                        <span class="product-quantity">1</span>
                                        <span class="product-price">$98.00</span>
                                    </div>
                                </div>
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="~/Content/images/cart/product-2.jpg" alt="product" width="90"
                                             height="90" />
                                    </a>
                                    <button class="btn btn-link btn-close">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </figure>
                            </div>
                            <!-- End of Cart Product -->
                        </div>
                        <!-- End of Products  -->
                        <div class="cart-total">
                            <label>Subtotal:</label>
                            <span class="price">$42.00</span>
                        </div>
                        <!-- End of Cart Total -->
                        <div class="cart-action">
                            <a href="checkout.html" class="btn btn-dark"><span>Checkout</span></a>
                        </div>
                        <!-- End of Cart Action -->
                    </div>
                    <!-- End of Dropdown Box -->
                </div>

                <div class="header-search hs-toggle mobile-search">
                    <a href="#" class="search-toggle">
                        <i class="d-icon-search"></i>
                    </a>
                    <form action="#" class="input-wrapper">
                        <input type="text" class="form-control" name="search" autocomplete="off"
                               placeholder="Search your keyword..." required />
                        <button class="btn btn-search" type="submit">
                            <i class="d-icon-search"></i>
                        </button>
                    </form>
                </div>
                <!-- End of Header Search -->
            </div>
        </div>
    </div>

    <div class="header-bottom d-lg-show">
        <div class="container">
            <div class="inner-wrap">
                <div class="header-left">
                    <nav class="main-nav">
                        <ul class="menu">
                            <li class="active">
                                <a href="demo3.html">Home</a>
                            </li>
                            <li>
                                <a href="demo3-shop.html">Categories</a>
                                <div class="megamenu">
                                    <div class="row">
                                        <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                            <h4 class="menu-title">Variations 1</h4>
                                            <ul>
                                                <li>
                                                    <a href="shop-banner-sidebar.html">Banner With Sidebar</a>
                                                </li>
                                                <li><a href="shop-boxed-banner.html">Boxed Banner</a></li>
                                                <li>
                                                    <a href="shop-infinite-scroll.html">Infinite Ajaxscroll</a>
                                                </li>
                                                <li>
                                                    <a href="shop-horizontal-filter.html">
                                                        Horizontal Filter
                                                        1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-navigation-filter.html">
                                                        Horizontal Filter
                                                        2<span class="tip tip-hot">Hot</span>
                                                    </a>
                                                </li>

                                                <li><a href="shop-off-canvas.html">Off-Canvas Filter</a></li>
                                                <li>
                                                    <a href="shop-right-sidebar.html">Right Toggle Sidebar</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                            <h4 class="menu-title">Variations 2</h4>
                                            <ul>

                                                <li>
                                                    <a href="shop-grid-3cols.html">
                                                        3 Columns Mode<span class="tip tip-new">New</span>
                                                    </a>
                                                </li>
                                                <li><a href="shop-grid-4cols.html">4 Columns Mode</a></li>
                                                <li><a href="shop-grid-5cols.html">5 Columns Mode</a></li>
                                                <li><a href="shop-grid-6cols.html">6 Columns Mode</a></li>
                                                <li><a href="shop-grid-7cols.html">7 Columns Mode</a></li>
                                                <li><a href="shop-grid-8cols.html">8 Columns Mode</a></li>
                                                <li><a href="shop-list.html">List Mode</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-4 col-lg-4 menu-banner menu-banner1 banner banner-fixed">
                                            <figure>
                                                <img src="~/Content/images/menu/banner-1.jpg" alt="Menu banner"
                                                     width="221" height="330" />
                                            </figure>
                                            <div class="banner-content y-50">
                                                <h4 class="banner-subtitle font-weight-bold text-primary ls-m">
                                                    Sale.
                                                </h4>
                                                <h3 class="banner-title font-weight-bold">
                                                    <span class="text-uppercase">Up to</span>70% Off
                                                </h3>
                                                <a href="#" class="btn btn-link btn-underline">
                                                    shop now<i class="d-icon-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- End of Megamenu -->
                                    </div>
                                </div>
                            </li>
                            <!-- End of Dropdown -->
                            <li>
                                <a href="demo3-product.html">Products</a>
                                <div class="megamenu">
                                    <div class="row">
                                        <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                            <h4 class="menu-title">Product Pages</h4>
                                            <ul>
                                                <li><a href="product-simple.html">Simple Product</a></li>
                                                <li><a href="product.html">Variable Product</a></li>
                                                <li><a href="product-sale.html">Sale Product</a></li>
                                                <li>
                                                    <a href="product-featured.html">Featured &amp; On Sale</a>
                                                </li>

                                                <li>
                                                    <a href="product-left-sidebar.html">With Left Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="product-right-sidebar.html">With Right Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="product-sticky-cart.html">
                                                        Add Cart Sticky<span class="tip tip-hot">Hot</span>
                                                    </a>
                                                </li>
                                                <li><a href="product-tabinside.html">Tab Inside</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                            <h4 class="menu-title">Product Layouts</h4>
                                            <ul>
                                                <li>
                                                    <a href="product-grid.html">
                                                        Grid Images<span class="tip tip-new">New</span>
                                                    </a>
                                                </li>
                                                <li><a href="product-masonry.html">Masonry</a></li>
                                                <li><a href="product-gallery.html">Gallery Type</a></li>
                                                <li><a href="product-full.html">Full Width Layout</a></li>
                                                <li><a href="product-sticky.html">Sticky Info</a></li>
                                                <li>
                                                    <a href="product-sticky-both.html">
                                                        Left &amp; Right
                                                        Sticky
                                                    </a>
                                                </li>
                                                <li><a href="product-horizontal.html">Horizontal Thumb</a></li>

                                                <li><a href="#">Build Your Own</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-4 col-lg-4 menu-banner menu-banner2 banner banner-fixed">
                                            <figure>
                                                <img src="images/menu/banner-2.jpg" alt="Menu banner"
                                                     width="221" height="330" />
                                            </figure>
                                            <div class="banner-content x-50 text-center">
                                                <h3 class="banner-title text-white text-uppercase">
                                                    Sunglasses
                                                </h3>
                                                <h4 class="banner-subtitle font-weight-bold text-white mb-0">
                                                    $23.00
                                                    -
                                                    $120.00
                                                </h4>
                                            </div>
                                        </div>
                                        <!-- End of MegaMenu -->
                                    </div>
                                </div>
                            </li>
                            <!-- End of Dropdown -->
                            <li>
                                <a href="#">Pages</a>
                                <ul>
                                    <li><a href="about-us.html">About</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="account.html">Login</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="error-404.html">Error 404</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                </ul>
                            </li>
                            <!-- End of Dropdown -->
                            <li>
                                <a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog-classic.html">Classic</a></li>
                                    <li><a href="blog-listing.html">Listing</a></li>
                                    <li>
                                        <a href="#">Grid</a>
                                        <ul>
                                            <li><a href="blog-grid-2col.html">Grid 2 columns</a></li>
                                            <li><a href="blog-grid-3col.html">Grid 3 columns</a></li>
                                            <li><a href="blog-grid-4col.html">Grid 4 columns</a></li>
                                            <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Masonry</a>
                                        <ul>
                                            <li><a href="blog-masonry-2col.html">Masonry 2 columns</a></li>
                                            <li><a href="blog-masonry-3col.html">Masonry 3 columns</a></li>
                                            <li><a href="blog-masonry-4col.html">Masonry 4 columns</a></li>
                                            <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Mask</a>
                                        <ul>
                                            <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                            <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="post-single.html">Single Post</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End of Dropdown -->
                            <li>
                                <a href="#">Elements</a>
                                <ul>
                                    <li><a href="element-products.html">Products</a></li>
                                    <li><a href="element-typography.html">Typography</a></li>
                                    <li><a href="element-titles.html">Titles</a></li>
                                    <li><a href="element-categories.html">Product Category</a></li>
                                    <li><a href="element-buttons.html">Buttons</a></li>
                                    <li><a href="element-accordions.html">Accordions</a></li>
                                    <li><a href="element-alerts.html">Alert &amp; Notification</a></li>
                                    <li><a href="element-tabs.html">Tabs</a></li>
                                    <li><a href="element-testimonials.html">Testimonials</a></li>
                                    <li><a href="element-blog-posts.html">Blog Posts</a></li>
                                    <li><a href="element-instagrams.html">Instagrams</a></li>
                                    <li><a href="element-cta.html">Call to Action</a></li>
                                    <li><a href="element-icon-boxes.html">Icon Boxes</a></li>
                                    <li><a href="element-icons.html">Icons</a></li>
                                </ul>
                            </li>
                            <!-- End of Dropdown -->
                            <li>
                                <a href="#">About Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <nav class="custom-menu">
                        <ul class="menu">
                            <li>
                                <a href="#">Limited time offer</a>
                            </li>
                            <li>
                                <a href="#">Buy Donald!</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

