@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main mt-lg-4">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <aside class="col-xl-3 col-lg-4 sidebar sidebar-fixed sticky-sidebar-wrapper home-sidebar">
                    <div class="sidebar-overlay">
                        <a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
                    </div>
                    <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
                    <div class="sidebar-content">
                        <div class="sticky-sidebar">
                            <ul class="menu vertical-menu category-menu mb-4">
                                <li><a href="demo3-shop.html" class="menu-title">Popular Categories</a></li>
                                <li>
                                    <a href="demo3-shop.html"><i class="d-icon-camera1"></i>Electronics</a>
                                </li>
                                <li>
                                    <a href="demo3-shop.html">
                                        <i class="d-icon-officebag"></i>Backpacks &amp;
                                        Fashion bags
                                    </a>
                                </li>
                                <li>
                                    <a href="demo3-shop.html">
                                        <i class="d-icon-gamepad1"></i>Gaming &amp;
                                        Accessories
                                    </a>
                                </li>
                                <li>
                                    <a href="demo3-shop.html">
                                        <i class="d-icon-basketball1"></i>Sporting
                                        Goods
                                    </a>
                                </li>
                                <li>
                                    <a href="demo3-shop.html">
                                        <i class="d-icon-t-shirt1" style="
                                                    font-size: 20px;
                                                    margin-left: -1px;
                                                    margin-right: .8rem;
                                                "></i>Travel &amp; Clothing
                                    </a>
                                </li>
                                <li>
                                    <a href="demo3-shop.html">
                                        <i class="d-icon-desktop"></i>Computer
                                    </a>
                                </li>
                                <li>
                                    <a href="demo3-shop.html"><i class="d-icon-cook"></i>Home &amp; Kitchen</a>
                                </li>
                                <li>
                                    <a href="demo3-shop.html" class="menu-title mt-1">Today Coupon Deals</a>
                                </li>
                                <li>
                                    <a href="demo3-shop.html">
                                        <i class="d-icon-card"></i>Backpacks &amp; Fashion bags
                                    </a>
                                </li>
                                <li>
                                    <a href="demo3-shop.html">
                                        <i class="d-icon-card"></i>Daily Deals
                                    </a>
                                </li>
                            </ul>
                            <div class="banner banner-fixed overlay-zoom overlay-dark">
                                <figure>
                                    <img src="~/Content/images/demos/demo3/banner2.jpg" width="280" height="312"
                                         alt="banner" />
                                </figure>
                                <div class="banner-price-info font-weight-bold text-white text-uppercase">
                                    20-22<sup>th</sup> April
                                </div>
                                <div class="banner-content text-center w-100">
                                    <h4 class="banner-subtitle d-inline-block bg-primary text-uppercase ls-normal">
                                        Ultimate Sale
                                    </h4>
                                    <h3 class="banner-title ls-l text-uppercase text-white font-weight-bold">
                                        Up
                                        to 70%
                                    </h3>
                                    <p class="mb-4 font-primary text-white lh-1">Discount Selected Items</p>
                                </div>
                            </div>
                      
                        </div>
                    </div>
                </aside>
                <div class="col-xl-9 col-lg-8">
                    <section class="intro-section mb-3">
                        <div class="owl-carousel owl-theme row owl-dot-inner owl-dot-white intro-slider animation-slider cols-1 mb-4"
                             data-owl-options="{
                                    'items': 1,
                                    'dots': true,
                                    'nav': false,
                                    'loop': true,
                                    'autoplay': false,
                                    'animateOut': 'fadeOutDown'
                                }">
                            <div class="banner banner-fixed intro-slide1">
                                <figure>
                                    <img src="~/Content/images/demos/demo3/slides/1.jpg" alt="intro-banner" width="880"
                                         height="474" />
                                </figure>
                                <div class="banner-content y-50 slide-animate" data-animation-options="{
                                            'name': 'fadeIn',
                                            'delay': '.2s',
                                            'duration': '1s'
                                        }">
                                    <h4 class="banner-subtitle mb-2 text-white">New Collection</h4>
                                    <h2 class="banner-title mb-0 text-uppercase ls-l">Fashion Trends</h2>
                                    <p class="font-primary font-weight-semi-bold ls-l text-dark mb-3">
                                        Get Free
                                        Shipping on all orders over $75
                                    </p>
                                    <div class="banner-price-info d-flex align-items-center font-secondary font-weight-semi-bold text-uppercase text-white ml-3 mb-6">
                                        <sup class="d-inline-block font-weight-bold ls-l text-dark">up to</sup><span class="text-primary font-weight-bold">$100</span>off
                                    </div>
                                    <a href="#" class="btn btn-solid">Shop Now</a>
                                </div>
                            </div>
                            <div class="banner banner-fixed intro-slide2">
                                <figure>
                                    <img src="~/Content/images/demos/demo3/slides/2.jpg" alt="intro-banner" width="880"
                                         height="474" />
                                </figure>
                                <div class="banner-content y-50 pb-10 text-right">
                                    <h4 class="banner-subtitle text-primary mb-3 slide-animate"
                                        data-animation-options="{
                                                'name': 'fadeInRightShorter',
                                                'duration': '1s'
                                            }">
                                        Up to 25% Off
                                    </h4>
                                    <h2 class="banner-title text-uppercase ls-l mb-0 slide-animate"
                                        data-animation-options="{
                                                'name': 'fadeInRightShorter',
                                                'delay': '.2s',
                                                'duration': '1s'
                                            }">
                                        For Women’s
                                    </h2>
                                    <p class="font-primary font-weight-semi-bold ls-l text-dark mb-6 slide-animate"
                                       data-animation-options="{
                                                'name': 'fadeInRightShorter',
                                                'delay': '.3s',
                                                'duration': '1s'
                                            }">Start at $12.00</p>
                                    <a href="#" class="btn btn-outline btn-dark mb-2 slide-animate"
                                       data-animation-options="{
                                                'name': 'fadeInRightShorter',
                                                'delay': '.5s',
                                                'duration': '1s'
                                            }">Shop Now</a>
                                </div>
                            </div>
                            <div class="banner banner-fixed intro-slide3">
                                <figure>
                                    <img src="~/Content/images/demos/demo3/slides/3.jpg" alt="intro-banner" width="880"
                                         height="474" />
                                </figure>
                                <div class="banner-content y-50 pb-3">
                                    <h4 class="banner-subtitle ls-l mb-0 slide-animate" data-animation-options="{
                                                'name': 'fadeInUpShorter',
                                                'delay': '.1s',
                                                'duration': '1s'
                                            }">
                                        For Women’s
                                    </h4>
                                    <h2 class="banner-title text-uppercase ls-m mb-1 slide-animate"
                                        data-animation-options="{
                                                'name': 'fadeInUpShorter',
                                                'delay': '.1s',
                                                'duration': '1s'
                                            }">
                                        New Shoes
                                    </h2>
                                    <p class="font-primary ls-m mb-5 text-dark text-uppercase slide-animate"
                                       data-animation-options="{
                                                'name': 'fadeInUpShorter',
                                                'delay': '.3s',
                                                'duration': '1s'
                                            }">From $19.00</p>
                                    <a href="#" class="btn btn-dark slide-animate" data-animation-options="{
                                                'name': 'fadeInUpShorter',
                                                'delay': '.5s',
                                                'duration': '1s'
                                            }">Shop Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="category category-absolute category-banner overlay-light">
                                    <a href="#">
                                        <figure class="category-media">
                                            <img src="~/Content/images/demos/demo3/banners/1.jpg" alt="category"
                                                 width="430" height="189">
                                        </figure>
                                    </a>
                                    <div class="category-content">
                                        <h4 class="category-name">For Fitness</h4>
                                        <span class="category-count">
                                            <span>6</span> Products
                                        </span>
                                        <a href="#" class="btn btn-underline btn-link btn-sm">
                                            Shop Now<i class="d-icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="category category-absolute category-banner overlay-light">
                                    <a href="#">
                                        <figure class="category-media">
                                            <img src="~/Content/images/demos/demo3/banners/2.jpg" alt="category"
                                                 width="430" height="189">
                                        </figure>
                                    </a>
                                    <div class="category-content">
                                        <h4 class="category-name">Summer Season’s</h4>
                                        <span class="category-count">
                                            <span>6</span> Products
                                        </span>
                                        <a href="#" class="btn btn-underline btn-link btn-sm">
                                            Shop Now<i class="d-icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="product-wrapper mb-4">
                        <h2 class="title title-underline with-link appear-animate" data-animation-options="{
                                    'delay': '.3s'
                                }">
                            New Arrivals<a href="#">View more<i class="fas fa-chevron-right"></i></a>
                        </h2>
                        <div class="row gutter-xs appear-animate" data-animation-options="{
                                    'delay': '.3s'
                                }">
                            <div class="col-md-3 col-6 mb-4">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="demo3-product.html">
                                            <img src="~/Content/images/demos/demo3/products/1.jpg" alt="product"
                                                 width="280" height="315">
                                        </a>
                                        <div class="product-label-group">
                                            <label class="product-label label-sale">27% off</label>
                                        </div>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                               data-target="#addCartModal" title="Add to cart">
                                                <i class="d-icon-bag"></i>
                                            </a>
                                            <a href="#" class="btn-product-icon btn-wishlist"
                                               title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview"
                                               title="Quick View">Quick View</a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-grid-3col.html">categories</a>
                                        </div>
                                        <h3 class="product-name">
                                            <a href="demo3-product.html">Women's Fashion Suede Bag</a>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">$199.00</ins><del class="old-price">$210.00</del>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product.html" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="demo3-product.html">
                                            <img src="~/Content/images/demos/demo3/products/2.jpg" alt="product"
                                                 width="280" height="315">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                               data-target="#addCartModal" title="Add to cart">
                                                <i class="d-icon-bag"></i>
                                            </a>
                                            <a href="#" class="btn-product-icon btn-wishlist"
                                               title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview"
                                               title="Quick View">Quick View</a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-grid-3col.html">categories</a>
                                        </div>
                                        <h3 class="product-name">
                                            <a href="demo3-product.html">Women's Fashion Denim Shoes</a>
                                        </h3>
                                        <div class="product-price">
                                            <span class="price">$35.00</span>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product.html" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="demo3-product.html">
                                            <img src="~/Content/images/demos/demo3/products/5.jpg" alt="product"
                                                 width="280" height="315">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                               data-target="#addCartModal" title="Add to cart">
                                                <i class="d-icon-bag"></i>
                                            </a>
                                            <a href="#" class="btn-product-icon btn-wishlist"
                                               title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview"
                                               title="Quick View">Quick View</a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-grid-3col.html">categories</a>
                                        </div>
                                        <h3 class="product-name">
                                            <a href="demo3-product.html">Women's Black Suede Handbag</a>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">$199.00</ins><del class="old-price">$210.00</del>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product.html" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="demo3-product.html">
                                            <img src="~/Content/images/demos/demo3/products/3.jpg" alt="product"
                                                 width="280" height="315">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                               data-target="#addCartModal" title="Add to cart">
                                                <i class="d-icon-bag"></i>
                                            </a>
                                            <a href="#" class="btn-product-icon btn-wishlist"
                                               title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview"
                                               title="Quick View">Quick View</a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-grid-3col.html">categories</a>
                                        </div>
                                        <h3 class="product-name">
                                            <a href="demo3-product.html">Brown Fashion Suede Shoes</a>
                                        </h3>
                                        <div class="product-price">
                                            <span class="price">$19.00</span>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product.html" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="demo3-product.html">
                                            <img src="~/Content/images/demos/demo3/products/1.jpg" alt="product"
                                                 width="280" height="315">
                                        </a>
                                        <div class="product-label-group">
                                            <label class="product-label label-sale">27% off</label>
                                        </div>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                               data-target="#addCartModal" title="Add to cart">
                                                <i class="d-icon-bag"></i>
                                            </a>
                                            <a href="#" class="btn-product-icon btn-wishlist"
                                               title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview"
                                               title="Quick View">Quick View</a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-grid-3col.html">categories</a>
                                        </div>
                                        <h3 class="product-name">
                                            <a href="demo3-product.html">Women's Fashion Suede Bag</a>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">$199.00</ins><del class="old-price">$210.00</del>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product.html" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="demo3-product.html">
                                            <img src="~/Content/images/demos/demo3/products/4.jpg" alt="product"
                                                 width="280" height="315">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                               data-target="#addCartModal" title="Add to cart">
                                                <i class="d-icon-bag"></i>
                                            </a>
                                            <a href="#" class="btn-product-icon btn-wishlist"
                                               title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview"
                                               title="Quick View">Quick View</a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-grid-3col.html">categories</a>
                                        </div>
                                        <h3 class="product-name">
                                            <a href="demo3-product.html">Fashion Suede Handbag</a>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">$98.00</ins><del class="old-price">$210.00</del>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product.html" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="demo3-product.html">
                                            <img src="~/Content/images/demos/demo3/products/5.jpg" alt="product"
                                                 width="280" height="315">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                               data-target="#addCartModal" title="Add to cart">
                                                <i class="d-icon-bag"></i>
                                            </a>
                                            <a href="#" class="btn-product-icon btn-wishlist"
                                               title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview"
                                               title="Quick View">Quick View</a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-grid-3col.html">categories</a>
                                        </div>
                                        <h3 class="product-name">
                                            <a href="demo3-product.html">Women's Black Suede Handbag</a>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">$199.00</ins><del class="old-price">$210.00</del>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product.html" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="demo3-product.html">
                                            <img src="~/Content/images/demos/demo3/products/6.jpg" alt="product"
                                                 width="280" height="315">
                                        </a>
                                        <div class="product-label-group">
                                            <label class="product-label label-sale">27% off</label>
                                        </div>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                               data-target="#addCartModal" title="Add to cart">
                                                <i class="d-icon-bag"></i>
                                            </a>
                                            <a href="#" class="btn-product-icon btn-wishlist"
                                               title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview"
                                               title="Quick View">Quick View</a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-grid-3col.html">categories</a>
                                        </div>
                                        <h3 class="product-name">
                                            <a href="demo3-product.html">Women's Fashion Comfort</a>
                                        </h3>
                                        <div class="product-price">
                                            <span class="price">$35.00</span>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product.html" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="banner banner-cta mb-7 text-center"
                             style="background-image: url(/Content/images/demos/demo3/banner.jpg)">
                        <div class="banner-content appear-animate" data-animation-options="{
                                    'delay': '.2s',
                                    'name': 'blurIn'
                                }">
                            <h4 class="banner-subtitle font-weight-bold ls-s text-white text-uppercase">
                                Coming
                                soon
                            </h4>
                            <h2 class="banner-title font-weight-normal ls-m mb-2">
                                <strong>Black Friday</strong>
                                Sale
                            </h2>
                            <p class="font-primary text-dark">Get 10% off first order</p>
                            <form action="#" method="get" class="input-wrapper input-wrapper-inline">
                                <input type="email" class="form-control mb-4" name="email" id="email"
                                       placeholder="Email address here..." required />
                                <button class="btn btn-dark btn-sm" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </section>

                    <section class="mb-10">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="widget widget-products appear-animate" data-animation-options="{
                                            'name': 'fadeInLeftShorter',
                                            'delay': '.5s'
                                        }">
                                    <h4 class="widget-title">Latest</h4>
                                    <div class="products-col">
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo3-product.html">
                                                    <img src="~/Content/images/demos/demo3/products/9.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo3-product.html">Women's Fashion Hat</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$39.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:60%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo3-product.html">
                                                    <img src="~/Content/images/demos/demo3/products/10.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo3-product.html">Fashion Hiking Hat</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$19.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo3-product.html">
                                                    <img src="~/Content/images/demos/demo3/products/11.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo3-product.html">Men's Fashion Hood</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$199.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="widget widget-products appear-animate" data-animation-options="{
                                            'name': 'fadeIn',
                                            'delay': '.3s'
                                        }">
                                    <h4 class="widget-title">Best selling</h4>
                                    <div class="products-col">
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo3-product.html">
                                                    <img src="~/Content/images/demos/demo3/products/12.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo3-product.html">
                                                        Women's Fashion Jeans
                                                        Clothing
                                                    </a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$39.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:60%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo3-product.html">
                                                    <img src="~/Content/images/demos/demo3/products/13.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo3-product.html">Fashion NIKE Sneaker</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$19.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo3-product.html">
                                                    <img src="~/Content/images/demos/demo3/products/14.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo3-product.html">Men's Winter Hood</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$199.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="widget widget-products appear-animate" data-animation-options="{
                                            'name': 'fadeInRightShorter',
                                            'delay': '.5s'
                                        }">
                                    <h4 class="widget-title">Top rated</h4>
                                    <div class="products-col">
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo3-product.html">
                                                    <img src="~/Content/images/demos/demo3/products/15.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo3-product.html">Fashion NIKE Suede Shoes</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$39.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:60%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo3-product.html">
                                                    <img src="~/Content/images/demos/demo3/products/16.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo3-product.html">Women's Fashion T Shirt</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$19.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo3-product.html">
                                                    <img src="~/Content/images/demos/demo3/products/17.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo3-product.html">Men's Fashion Sneaker</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$199.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
